body {
    background-color: rgb(140, 164, 199);
}

h1 {
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont;
}

h3 {
    color :darkblue;
    font-size: 23px;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}